<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AgreeInfoData</key>
	<array>
		<dict>
			<key>title</key>
			<string>파킹프렌즈 이용약관</string>
			<key>contents</key>
			<string>파킹프렌즈(Parking Friends) 이용약관

제1장 총칙

제1조(목적) 이 약관은 주식회사 미래엔씨티(이하“회사)가 운영하는 주차 서비스 파킹프렌즈(이하“서비스”)의 이용과 관련하여 회사와 회원 간의 권리, 의무, 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.

제2조(용어의 정의) ① 이 약관에서 사용하는 정의는 다음과 같습니다.
1. “회사”라 함은 온라인(스마트 기기의 앱 또는 웹)을 통하여 서비스를 제공하는 사업자를 의미합니다.
2. “회원”이라 함은 “회사”에 개인정보를 제공하여 회원 등록을 한 자로서, 본 약관에 동의하고 서비스용 아이디(ID)를 부여받은“이용자“라고도 말합니다.
3. “파킹프렌즈(Parking Friends)”라 함은 “회사”가 컴퓨터, 스마트폰 등 정보통신 설비를 이용하여 “서비스”를 제공할 수 있도록 설정한 가상의 영업장을 말합니다. &quot;회원&quot;은 스마트기기(모바일) 애플리케이션을 통하여 위 영업장에 접속할 수 있으며, &quot;회사&quot;는 위 영업장과 관련하여 인터넷 사이트 http://parkingfriends.net (이하“사이트”)를 운영하고 있습니다.
4. &quot;비회원&quot;이라 함은 &quot;회원&quot;이 아니면서 &quot;회사&quot;가 제공하는 서비스를 이용하는 자를 말합니다.
5. 아이디(ID)라 함은 &quot;회원&quot;의 식별과 &quot;서비스&quot; 이용을 위하여 &quot;회원&quot;이 정하고 &quot;회사&quot;가 승인하는 문자 또는 숫자의 조합을 말합니다.
6. “비밀번호”라 함은 회원이 부여받은 계정과 일치되는 회원임을 확인하고 회원의 정보 및 권익보호를 위해 회원 자신이 선정하여 비밀로 관리하는 문자, 숫자 또는 특수문자의 조합을 의미합니다.
7. “주차장 소유주”라 함은 운영 중인 주차장의 주차면에 대한 정보(이하“주차장 정보”)를 “파킹프렌즈”에 등록한 자를 말합니다.
8. “포인트”라 함은 “회원”이 결제 수단을 통해 결제를 한 후 발생되는 것으로 주차 서비스 이용요금 결제 시 사용되는 것을 말합니다.
② 이 약관에서 사용하는 용어의 정의는 제1항 각호에서 정하는 것을 제외하고는 관계법령 및 기타 일반적인 상관례에 의합니다.

제3조 (약관 등의 명시와 개정)
① 회사는 이 약관의 내용을 회원이 알 수 있도록  파킹프렌즈 서비스 사이트 또는 앱에 게시하거나 연결화면을 제공하는 방법으로 회원에게 공지합니다.
② 회사는 회원이 회사와 이 약관의 내용에 관하여 질의 및 응답을 할 수 있도록 조치를 취합니다.
③ 회사는 주서비스를 이용하고자 하는 자(이하 “이용자”라 한다)가 약관의 내용을 쉽게 알 수 있도록 작성하고 약관에 동의하기에 앞서 약관에 정하여져 있는 내용 중 청약철회, 과오납금의 환급, 계약 해제ㆍ해지, 회사의 면책사항 및 회원에 대한 피해보상 등과 같은 중요한 내용을 회원이 쉽게 이해할 수 있도록 굵은 글씨 등으로 처리하거나 별도의 연결화면 또는 팝업화면 등을 제공하고 이용자의 동의를 얻도록 합니다.
④ 회사는 「전자상거래 등에서의 소비자보호에 관한 법률」,「약관의 규제에 관한 법률」,「정보통신망이용촉진 및 정보보호 등에 관한 법률」,「콘텐츠산업진흥법」 등 관련 법령에 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
⑤ 회사가 약관을 개정할 경우에는 적용일자 및 개정내용, 개정사유 등을 명시하여 그 적용일자로부터 최소한 7일 이전(회원에게 불리하거나 중대한 사항의 변경은 30일 이전)부터 그 적용일자 경과 후 상당한 기간이 경과할 때까지 초기화면 또는 초기화면과의 연결화면을 통해 공지합니다.
⑥ 회사가 약관을 개정할 경우에는 개정약관 공지 후 개정약관의 적용에 대한 회원의 동의 여부를 확인합니다. 개정약관 공지시 회원이 동의 또는 거부의 의사표시를 하지 않으면 승낙한 것으로 간주하겠다는 내용도 함께 공지한 경우에는 회원이 약관 시행일 까지 거부의사를 표시하지 않는다면 개정약관에 동의한 것으로 간주할 수 있습니다.
⑦ 회원이 개정약관의 적용에 동의하지 않는 경우 회사 또는 회원은 서비스 이용계약을 해지할 수 있습니다.

제4조 (약관 외 준칙) 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는「전자상거래 등에서의 소비자보호에 관한 법률」,「약관의 규제에 관한 법률」,「정보통신망이용촉진 및 정보보호 등에 관한 법률」,「콘텐츠산업진흥법」등 관련 법령에 따릅니다.

제2장 이용계약의 체결

제5조 (이용신청 및 방법) ① 회사가 제공하는 서비스를 이용하고자 하는 자는 회사가 제공하는 파킹프렌즈 앱에서 제공하는 이용신청서를 작성하는 방법으로 이용신청을 하여야 합니다.
② 이용자는 이용신청 시 회사에서 요구하는 제반 정보를 제공하여야 합니다.
③ 이용자는 제1항의 이용 신청 시 본인의 실명 및 실제 정보를 기재하여야 합니다. 실명 또는 식별정보를 허위로 기재하거나 타인의 명의를 도용한 경우 이 약관에 의한 회원의 권리를 주장할 수 없고, 회사는 환급 없이 이용계약을 취소하거나 해지할 수 있습니다.

제6조 (이용신청의 승낙과 제한) ① 회사는 회사가 이용자에게 요구하는 정보에 대해 이용자가 실명 및 실제 정보를 정확히 기재하여 이용신청을 한 경우에 상당한 이유가 없는 한 이용신청을 승낙합니다.
② 회사는 다음 각 호의 어느 하나에 해당하는 이용신청에 대해서는 승낙을 하지 않을 수 있습니다.
 1. 제5조에 위반하여 이용신청을 하는 경우
 2. 이용요금을 납부하지 않거나 잘못 납부하여 확인할 수 없는 경우
 3. 최근 3개월 내 이용제한 기록이 있는 이용자가 이용신청을 하는 경우
 4. 제3자의 신용카드, 유/무선 전화, 은행 계좌 등을 무단으로 이용 또는 도용하여 서비스 이용요금을 결제하는 경우
 5. 대한민국 이외의 국가 중 회사에서 아직 서비스를 제공할 것으로 결정하지 않은 국가에서 서비스를 이용하는 경우로 회사가 해외 서비스 업체와 체결한 계약이나 특정 국가에서 접속하는 회원에 대한 서비스 제공과 관련하여 서비스제공을 제한할 필요가 있는 경우
 6.「정보통신망 이용촉진 및 정보보호 등에 관한 법률」및 그 밖의 관계 법령에서 금지하는 위법행위를 할 목적으로 이용신청을 하는 경우
 7. 그 밖에 1호 내지 6호에 준하는 사유로서 승낙이 부적절하다고 판단되는 경우
③ 회사는 다음 각 호의 어느 하나에 해당하는 경우에는 그 사유가 해소될 때까지 승낙을 유보할 수 있습니다.
 1. 회사의 설비에 여유가 없거나 기술적 장애가 있는 경우
 2. 서비스 상의 장애 또는 서비스 이용요금 결제수단의 장애가 발생한 경우
 3. 그 밖에 위 각 호에 준하는 사유로서 이용신청의 승낙이 곤란한 경우

제7조 (회원 계정(ID) 및 비밀번호) ① 회사는 회원에 대하여 회원의 정보 보호, 서비스 이용안내 등의 편의를 위해 회원이 제공한 이메일 아이디를 계정으로 부여합니다.
② 회사는 계정정보를 통하여 당해 회원의 서비스 이용가능 여부 등의 제반 회원 관리업무를 수행합니다.
③ 회원은 자신의 계정정보를 선량한 관리자로서의 주의 의무를 다하여 관리하여야 합니다. 회원이 본인의 계정정보를 소홀히 관리하거나 제3자에게 이용을 승낙함으로써 발생하는 손해에 대하여는 회원에게 책임이 있습니다.
④ 비밀번호의 관리책임은 회원에게 있으며, 회원이 원하는 경우에는 보안상의 이유 등으로 언제든지 변경이 가능합니다.
⑤ 회원은 정기적으로 비밀번호를 변경하여야 합니다.

제8조 (회원 정보의 제공 및 변경) ① 회원은 이 약관에 의하여 회사에 정보를 제공하여야 하는 경우에는 진실 된 정보를 제공하여야 하며, 허위정보 제공으로 인해 발생한 불이익에 대해서는 보호받지 못합니다.
② 회원은 개인정보관리화면을 통하여 언제든지 자신의 개인정보를 열람하고 수정할 수 있습니다. 다만, 서비스 관리를 위해 필요한 실명, 계정(ID) 등은 수정이 불가능합니다.
③ 회원은 회원가입 신청 시 기재한 사항이 변경되었을 경우 온라인으로 수정을 하거나 기타 방법으로 회사에 대하여 그 변경사항을 알려야 합니다.
④ 제2항의 변경사항을 회사에 알리지 않아 발생한 불이익에 대하여 회사는 책임을 지지 않습니다.

제9조 (개인정보의 보호 및 관리) ① 회사는 관계 법령이 정하는 바에 따라 계정정보를 포함한 회원의 개인정보를 보호하기 위해 노력합니다. 회원 개인정보의 보호 및 사용에 대해서는 관계법령 및 회사가 별도로 고지하는 개인정보취급방침이 적용됩니다.
② 서비스의 일부로 제공되는 개별 서비스를 제외한 것으로서 홈페이지 및 주차장 예약 서비스별 웹사이트에서 단순히 링크된 제3자 제공의 서비스에 대하여는 회사의 개인정보취급방침이 적용되지 않습니다.
③ 회사는 회원의 귀책사유로 인하여 노출된 회원의 계정정보를 포함한 모든 정보에 대해서 일체의 책임을 지지 않습니다.

제3장 계약 당사자의 의무

제10조 (회사의 의무) ① 회사는 관련 법령을 준수하고, 이 약관이 정하는 권리의 행사와 의무의 이행을 신의에 따라 성실하게 합니다.
② 회사는 회원이 안전하게 서비스를 이용할 수 있도록 개인정보(신용정보 포함)보호를 위해 보안시스템을 갖추어야 하며 개인정보취급방침을 공시하고 준수합니다. 회사는 이 약관 및 개인정보취급방침에서 정한 경우를 제외하고는 회원의 개인정보가 제3자에게 공개 또는 제공되지 않도록 합니다.
③ 회사는 계속적이고 안정적인 서비스의 제공을 위하여 서비스 개선을 하던 중 설비에 장애가 생기거나 데이터 등이 멸실된 때에는 천재지변, 비상사태, 현재의 기술로는 해결이 불가능한 결함 및 장애 등 부득이한 사유가 없는 한 지체 없이 이를 수리 또는 복구하도록 최선의 노력을 다합니다.

제11조 (회원의 의무) ① 회원은 다음 행위를 하여서는 안 됩니다.
 1. 신청 또는 변경 시 허위내용의 기재
 2. 타인의 정보도용
 3. 회사의 임직원, 운영자, 기타 관계자를 사칭하는 행위
 4. 회사가 게시한 정보의 변경
 5. 회사가 금지한 정보(컴퓨터 프로그램 등)의 송신 또는 게시
 6. 회사가 제공 또는 승인하지 아니한 컴퓨터 프로그램이나 기기 또는 장치를 제작, 배포, 이용, 광고하는 행위
 7. 회사와 기타 제3자의 저작권 등 지적재산권에 대한 침해
 8. 회사 및 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
 9. 외설 또는 폭력적인 말이나 글, 화상, 음향, 기타 공서양속에 반하는 정보를 공개 또는 게시하는 행위
 10. 회사의 동의 없이 영리, 영업, 광고, 정치활동 등을 목적으로 주차정보 예약 서비스를 사용하는 행위
 11. 기타 관련 법령에서 금지하거나 선량한 풍속 기타 사회통념상 허용되지 않는 행위
② 회원은 이 약관의 규정, 이용안내 및 주차예약 서비스와 관련하여 공지한 주의사항, 회사가 통지하는 사항 등을 확인하고 준수할 의무가 있습니다.

제4장 서비스 이용

제12조 (서비스의 변경 및 내용수정) ① 회원은 회사가 제공하는 주차예약서비스를 이 약관, 운영정책 및 회사가 설정한 규칙에 따라 이용할 수 있습니다.
② 회사가 주차예약서비스를 통하여 회원에게 제공하는 주차장은 주차장 소유주가 제공한 것으로써 주차장의 추가, 변경, 유지, 보수에 관한 포괄적인 권한을 가집니다.
③ 회사는 주차장에 대한 실질적인 조사와 올바른 주차장 데이터를 유지하기 위하여 필요한 조치를 취합니다.
④ 회사가 상당한 이유가 있는 경우에 운영상, 기술상의 필요에 따라 주차예약서비스 수정(패치)을 할 수 있으며, 주차예약서비스 수정(패치)을 하는 경우에는 변경 후 앱 또는 사이트 등을 통하여 공지합니다.

제13조 (서비스의 제공 및 중단 등) ① 주차예약서비스는 24시간 제공함을 원칙으로 하며 서비스 패치 등이 있는 경우 공지를 한 후 특정 시간에 제공이 제한될 수 있습니다. 회사는 주차예약서비스 제공시간을 앱 초기화면이나 주차서비스 사이트에 적절한 방법으로 안내합니다.
② 제1항에도 불구하고, 다음 각 호의 어느 하나에 해당하는 경우에는 일정한 시간동안 주차예약서비스가 제공되지 아니할 수 있으며, 해당 시간 동안 회사는 주차예약서비스를 제공할 의무가 없습니다.
 1. 컴퓨터 등 정보통신설비의 보수점검, 교체, 정기점검 또는 주차예약서비스의 수정을 위하여 필요한 경우
 2. 해킹 등의 전자적 침해사고, 통신사고, 미처 예상하지 못한 주차예약서비스의 불안정성에 대응하기 위하여 필요한 경우
 3. 천재지변, 비상사태, 정전, 서비스 설비의 장애 또는 서비스 이용의 폭주 등으로 정상적인 주차예약서비스 제공이 불가능할 경우
 4. 회사의 분할, 합병, 영업양도, 영업의 폐지, 당해 주차예약서비스의 수익 악화 등 회사의 경영상 중대한 필요에 의한 경우
③ 회사는 제2항 제1호의 경우, 매주 또는 격주 단위로 일정 시간을 정하여 주차예약서비스를 중지할 수 있습니다. 이 경우 회사는 최소한 24시간 전에 그 사실을 회원에게 앱 초기 화면이나 주차서비스 사이트에 고지합니다.
④ 제2항 제2호의 경우, 회사는 사전 고지 없이 주차예약서비스를 일시 중지할 수 있습니다. 회사는 이러한 경우 그 사실을 앱 초기 화면이나 주차서비스 사이트에 사후 고지할 수 있습니다.
⑤ 회사는 회사가 제공하는 무료서비스 이용과 관련하여 이용자에게 발생한 어떠한 손해에 대해서도 책임을 지지 않습니다. 다만, 회사의 고의 또는 중대한 과실로 인하여 발생한 손해의 경우는 제외합니다.
⑥ 제2항 제4호의 경우에 회사는 기술상․운영상 필요에 의해 주차예약서비스 전부를 중단할 수 있으며, 30일전에 홈페이지에 이를 공지하고 주차예약서비스의 제공을 중단할 수 있습니다. 사전에 통지할 수 없는 부득이한 사정이 있는 경우는 사후에 통지를 할 수 있습니다.
⑦ 회사가 제6항에 따라 주차예약서비스를 종료하는 경우 회원은 무료서비스 및 사용 기간이 남아 있지 않은 유료서비스․계속적 유료 이용계약․포인트에 대하여 손해배상을 청구할 수 없습니다.

제14조 (정보의 수집 등) ① 회사는 주차예약서비스 운영 및 프로그램 안정화 등 주차예약서비스 품질 개선을 위하여 회원 스마트폰, PC 등 단말기 ID, 설정 및 사양 정보를 수집·활용할 수 있습니다.
② 이에 대한 자세한 사항은 회사의 개인정보취급방침에 따릅니다.

제15조 (이용상품) ① 주차예약서비스의 이용에 대한 대금지급방법은 회사가 미리 정한 방법을 통하여 할 수 있습니다.
② 제1항의 유료서비스 이용과 관련하여, 회원이 선택한 유료서비스 이용신청 후, 다음 각 호에 해당하는 사항을 준수하여야 합니다.
 1. 유료서비스 이용을 신청한 회원은 주차예약서비스 이용요금을 성실히 납부하여야 합니다.
 2. 유료서비스 이용을 신청한 회원은 주차예약서비스 이용요금을 신청 후 회사에서 제공하는 방법으로 지급하여야 합니다.

제16조 (사이버 포인트) ① 회사는 회원의 이용실적에 따라 사이버 포인트를 제공할 수 있으며, 회사가 정한 유효기간 내에 사용되지 않은 사이버 포인트는 소멸될 수 있습니다.
② 사이버 포인트의 적립에 오류가 있을 경우 회원은 상당기간 내에 정정 신청을 할 수 있으며, 회사는 확인절차를 거친 후 결과에 대하여 고지하고 필요한 경우 사이버 포인트에 정정 조치를 취할 수 있습니다.
③ 회사는 경영상, 기술상 이유로 사전고지 후 사이버 포인트 서비스를 종료할 수 있으며, 회사는 사전고지를 최소한 1개월 전에 하여야 합니다. 이 경우 사전에 고지한 서비스 종료일까지 사용되지 않은 기 적립 된 사이버 포인트는 소멸됩니다.

제17조 (저작권 등의 귀속) ① 주차예약서비스 내 회사가 제작한 콘텐츠에 대한 저작권 기타 지적재산권은 회사의 소유입니다.
② 회원은 회사가 제공하는 주차예약서비스를 이용함으로써 얻은 정보 중 회사 또는 제공업체에 지적재산권이 귀속된 정보를 회사 또는 제공업체의 사전승낙 없이 복제, 전송, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안 됩니다.
③ 회사가 운영하는 게시판 등에 게시된 정보로 인하여 법률상 이익이 침해된 회원은 회사에게 당해 정보의 삭제 또는 반박내용의 게재를 요청할 수 있습니다. 이 경우 회사는 신속하게 필요한 조치를 취하고, 이를 신청인에게 통지합니다.


제5장 청약철회, 계약 해제·해지 및 이용제한

제18조 (청약의 철회)  ① 회사와 유료서비스 이용에 관한 계약을 체결한 회원은 구매일 또는 유료서비스 이용가능일로부터 7일 이내에는 청약의 철회를 할 수 있습니다.
②회원은 다음 각 호의 어느 하나에 해당하는 경우에는 회사의 의사에 반하여 제1항에 따른 청약철회 등을 할 수 없습니다.
 1. 회원에게 책임이 있는 사유로 재화 등이 멸실되거나 훼손된 경우
 2. 회원이 재화를 사용 또는 일부 소비에 의하여 재화 등의 가치가 현저히 감소한 경우
 3. 시간이 지나 다시 판매하기 곤란할 경우
 4. 복제 가능한 재화 등의 포장을 훼손한 경우
 5. 그 밖에 거래의 안전을 위하여 법령으로 정하는 경우
③ 회사는 제2항 제2호부터 4호까지 규정에 따라 청약철회 등이 불가능한 재화 등의 경우에는 그 사실을 재화 등의 포장이나 그밖에 회원이 쉽게 알 수 있는 곳에 명확하게 적시하거나 시험 사용 상품을 제공하는 등의 방법으로 청약철회 등의 권리 행사가 방해받지 아니하도록 조치하여야 합니다. 만약 회사가 이러한 조치를 하지 아니한 경우에는 제2항 제2호 내지 제4호의 청약철회 제한사유에도 불구하고 회원은 청약철회를 할 수 있습니다.
④ 회원은 제1항 내지 제3항의 규정에도 불구하고 유료서비스의 내용이 표시·광고 내용과 다르거나 계약내용과 다르게 이행된 경우에는 구매일 또는 유료서비스 이용가능일로부터 3월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 청약철회를 할 수 있습니다.
⑤ 회원은 구두 또는 서면(전자문서 포함), 전자우편으로 청약철회를 할 수 있습니다.

제19조(청약 철회 등의 효과)
① 회원이 청약철회를 한 경우 회사는 지체 없이 회원의 유료서비스를 회수 또는 삭제하고 유료서비스를 회수 또는 삭제한 날로부터 3영업일 이내에 지급받은 대금 중 회사가 정한 환불규정에 의거한 일부 수수료율을 제외하고 환급합니다.
② 이 경우 회사가 회원에게 환급을 지연한 때에는 그 지연기간에 대하여 전자상거래 등에서의 소비자보호에 관한 법률 및 시행령에서 정하는 이율을 곱하여 산정한 지연이자를 지급합니다
③ 회사는 위 대금을 환급함에 있어서 회원이 신용카드나 그 밖에 전자상거래 등에서의 소비자보호에 관한 법률 시행령으로 정하는 결제수단으로 대금을 지급한 때에는 지체없이 당해 결제수단을 제공한 사업자로 하여금 대금의 청구를 정지 또는 취소하도록 요청합니다. 다만 회사가 결제업자로부터 이미 대금을 지급받은 때에는 이를 결제업자에게 환불하고 이를 소비자에게 통지합니다.
④ 회사는 이미 재화 등이 일부 사용되거나 일부 소비된 경우에는 그 재화 등의 일부 사용 또는 일부 소비에 의하여 회원이 얻은 이익 또는 그 재화 등의 공급에 든 비용에 상당하는 금액을 회원에게 청구할 수 있습니다.
⑤ 회원이 청약철회를 한 경우 재화 등의 반환에 필요한 비용은 회원이 부담하고, 회사는 회원에게 청약철회를 이유로 위약금 또는 손해배상을 청구할 수 없습니다.

제20조 (회원의 해제 및 해지) ① 회원은 주차예약서비스 이용계약을 해지(이하 &apos;회원탈퇴&apos;라 한다)할 수 있습니다. 회원이 회원탈퇴를 신청한 경우 회사는 회원 본인 여부를 확인할 수 있으며, 해당 회원이 본인으로 확인되는 경우에 회원의 신청에 따른 조치를 취합니다.
② 회원이 회원탈퇴를 원하는 경우에는 고객센터 및 서비스 내 회원탈퇴 절차를 통하여 회원탈퇴를 할 수 있습니다.

제21조 (회사의 해제 및 해지) ① 회사는 회원이 이 약관에서 정한 회원의 의무를 위반한 경우에는 회원에 대한 사전 통보 후 계약을 해지할 수 있습니다. 다만, 회원이 현행법 위반 및 고의 또는 중대한 과실로 회사에 손해를 입힌 경우에는 사전 통보 없이 이용계약을 해지할 수 있습니다.
② 회사가 이용계약을 해지하는 경우 회사는 회원에게 서면, 전자우편 또는 이에 준하는 방법으로 다음 각 호의 사항을 회원에게 통보합니다.
 1. 해지사유
 2. 해지일
③ 제1항 단서의 경우, 회원은 유료서비스의 사용권한을 상실하고 이로 인한 환불 및 손해배상을 청구할 수 없습니다.

제22조 (회원에 대한 서비스 이용제한) ① 회사는 회원에게 다음 각 호의 구분에 따라 회원의 주차예약서비스 이용을 제한할 수 있습니다.
 1. 주차장의 영업 방해 등 주차 질서를 문란하게 한 회원
 2. 예약된 시간을 벗어나 부당하게 주차하여 주차장에 피해를 준 경우
② 회사의 이용제한이 정당한 경우에 회사는 이용제한으로 인하여 회원이 입은 손해를 배상하지 않습니다.

제23조 (잠정조치로서의 이용제한) ① 회사는 다음 각 호에 해당하는 문제에 대한 조사가 완료될 때까지 계정을 정지할 수 있습니다.
 1. 계정이 해킹 또는 도용당하였다는 정당한 신고가 접수된 경우
 2. 불법프로그램 사용자, 작업장 등 위법행위자로 합리적으로 의심되는 경우
 3. 그 밖에 위 각호에 준하는 사유로 계정의 잠정조치가 필요한 경우

제6장 손해배상 및 환불 등

제24조 (손해배상) ① 회사가 고의 또는 중과실로 회원에게 손해를 끼친 경우, 손해에 대하여 배상할 책임이 있습니다.
② 회원이 본 약관을 위반하여 회사에 손해를 끼친 경우, 회원은 회사에 대하여 그 손해에 대하여 배상할 책임이 있습니다.

제25조 (환불) ① 회원이 주차예약서비스 이용요금을 지급한 이후 부득이한 사정으로 인해 결제취소를 통한 환불을 요청할 수 있으며 이에 환불 시에는 회사가 정한 환불규정에 의거한 주차예약시작시간 기준으로 결제 취소한 시점에 따라 취소수수료를 공제하고 남은 금액을 환불할 수 있습니다.
② 현행법령 및 중대한 약관 위반 등 회원의 귀책사유로 이용계약을 해지하는 경우 환불이 제한될 수 있습니다.

제26조 (회사의 면책) ① 회사는 전시, 사변, 천재지변, 비상사태, 현재의 기술로는 해결이 불가능한 기술적 결함 기타 불가항력적 사유로 서비스를 제공할 수 없는 경우에는 책임이 면제됩니다.
②회사는 회원의 귀책사유로 인한 주차예약서비스의 중지, 이용장애 및 계약해지에 대하여 책임이 면제됩니다.
③회사는 기간통신 사업자가 전기통신서비스를 중지하거나 정상적으로 제공하지 아니하여 회원에게 손해가 발생한 경우에 대해서 회사의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.
④회사는 사전에 공지된 주차예약서비스용 설비의 보수, 교체, 정기점검, 공사 등 부득이한 사유로 주차예약서비스가 중지되거나 장애가 발생한 경우에 대해서 회사의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.
⑤회사는 회원의 컴퓨터 환경으로 인하여 발생하는 제반 문제 또는 회사의 고의 또는 중대한 과실이 없는 네트워크 환경으로 인하여 발생하는 문제에 대해서 책임이 면제됩니다.
⑥회사는 회원 또는 제3자가 주차예약서비스 내 또는 웹사이트 상에 게시 또는 전송한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 대해서는 회사의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.
⑦회사는 회원 상호간 또는 회원과 제3자간에 주차예약서비스를 매개로 발생한 분쟁에 대해 개입할 의무가 없으며 이로 인한 손해를 배상할 책임도 없습니다.
⑧회사가 제공하는 주차예약서비스 중 무료서비스의 경우에는 회사의 고의 또는 과실이 없는 한 회사는 손해배상을 하지 않습니다.
⑨본 주차예약서비스 중 일부의 서비스는 다른 사업자가 제공하는 서비스를 통하여 제공될 수 있으며, 회사는 다른 사업자가 제공하는 서비스로 인하여 발생한 손해 등에 대해서는 회사의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.
⑩회사는 회원의 컴퓨터 오류에 의한 손해가 발생한 경우 또는 신상정보 및 전자우편주소를 부정확하게 기재하거나 미기재하여 손해가 발생한 경우에 대하여 회사의 고의 또는 중대한 과실이 없는 한 책임이 면제됩니다.

제27조 (회원의 고충처리 및 분쟁해결) ①회사는 회원의 편의를 고려하여 회원의 의견이나 불만을 제시하는 방법을 앱 초기화면이나 주차예약서비스 홈페이지에서 안내합니다. 회사는 이러한 회원의 의견이나 불만을 처리하기 위한 전담조직을 운영합니다.
②회사는 회원으로부터 제기되는 의견이나 불만이 정당하다고 객관적으로 인정될 경우에는 합리적인 기간 내에 이를 신속하게 처리합니다. 다만, 처리에 장기간이 소요되는 경우에는 회원에게 장기간이 소요되는 사유와 처리일정을 주차서비스 사이트에 공지하거나 전자우편, 전화 또는 서면 등으로 통보합니다.
③ 회사와 회원 간에 분쟁이 발생하여 제3의 분쟁조정기관이 조정할 경우 회사는 이용제한 등 회원에게 조치한 사항을 성실히 증명하고, 조정기관의 조정에 따를 수 있습니다.

제28조 (회원에 대한 통지) ① 회사가 회원에게 통지를 하는 경우 회원이 지정한 전자우편주소, 전자메모 등으로 할 수 있습니다.
② 회사는 회원 전체에게 통지를 하는 경우 7일 이상 파킹프렌즈 앱 또는 주차예약사이트의 초기화면에 게시하거나 팝업화면 등을 제시함으로써 제1항의 통지에 갈음할 수 있습니다.

제29조 (재판권 및 준거법) 본 약관은 대한민국 법률에 따라 규율되고 해석되며, 회사와 회원 간에 발생한 분쟁으로 소송이 제기되는 경우, 법령에 정한 절차에 따른 법원을 관할 법원으로 합니다.

본 약관 적용일 :
2018년 3월 1일</string>
		</dict>
		<dict>
			<key>title</key>
			<string>개인정보 취급방침</string>
			<key>contents</key>
			<string>주식회사 미래엔씨티(이하 &quot;회사&quot;라 합니다.)는 이용자들의 개인정보를 중요시하며, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 및 개인정보 보호법 등 관련법상 개인정보 보호규정을 준수하고, &quot;회원&quot;의 개인정보를 보호하기 위해 지속적으로 노력합니다. &quot;회사&quot;는 이 개인정보 취급방침을 통하여 이용자들의 개인정보가 남용 되거나 유출되지 않도록 최선을 다할 것이며, 이용자가 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있고, 개인정보 보호를 위해 어떠한 조치가 취해지고 있는지 알려드리고자 합니다. 단, 이 개인정보 취급방침은 정부의 법령 및 지침의 변경, 또는 보다 나은 서비스의 제공을 위하여 그 내용이 변경 될 수 있으니, 이용자들께서는 사이트 방문 시 수시로 그 내용을 확인하여 주시기 바라며, &quot;회사&quot;는 개인정보 취급방침을 개정하는 경우 웹사이트 공지사항 또는 개별공지를 통하여 공지할 것입니다. 단, &quot;회사&quot;의 공식사이트 이외의 웹에서 링크된 사이트에서는 &quot;회사&quot;의 개인정보 취급방침 정책이 적용되지 않으며 &quot;회사&quot;는 &quot;회원&quot;의 귀책사유로 인해 노출된 정보에 대해서는 일체의 책임을 지지 않습니다.

1. 수집하는 개인정보 항목 및 이용목적

“회사”는 회원가입, 고객응대 및 각종 서비스의 제공을 위해 이용자의 사전동의를 받아 개인정보를 수집하고 있습니다. 개인정보는 다음의 수집·이용목적 이외의 용도로는 활용되지 않으며, 수집·이용목적이 변경되는 경우에는 개인정보보호법에 따라 별도의 동의를 받는 등 필요한 조치를 이행합니다.

a. 회원가입 과정에서 수집하는 정보
수집방법 : 회원가입 시 화면
수집항목 : 아이디(이메일), 비밀번호, 이동전화번호,
이용목적 : 회원제 서비스 제공, 마케팅 활동, 업데이트 및 고지사항 안내

b. 차량번호 등록 시
수집방법 : 차량번호 등록 메뉴
수집항목 : 차량번호,차종
이용목적 : 주차장 예약서비스 이용을 위해



c. 그외, 서비스 이용과정에서 자동적으로 생성되어 수집되는 개인정보
수집방법 : 자동생성
수집항목 : 접속 IP정보, 접속 로그, 쿠키, 서비스 이용기록, 기기고유번호, 방문 기록 등
이용목적 : 본인식별, 부정이용 방지, 서비스 향상을 위한 이용실적 분석

d. 그 외, 마케팅 이벤트 및 행사에 참여하는 과정에서 이용자 선택에 의해 이름, 생년월일, 성별, 이메일 주소, 블로그 주소, 학교, 회사, 기타 경품 제공 및 배송을 위해 필요한 정보 등이 수집 될 수 있습니다. 이 경우, 수집항목 및 이용목적을 별도로 회원에게 고지하여 동의를 구합니다.

2. 개인정보의 제 3자 제공

회사는 이용자의 개인정보를 개인정보 수집·이용 목적에서 명시한 범위 내에서 사용하며, 이용자의 사전 동의 없이 개인정보 수집·이용 목적 범위를 초과하여 이용하거나 원칙적으로 이용자의 개인정보를 외부에 제공하지 않습니다.

다만 양질의 서비스 제공을 위해 이용자의 개인정보를 협력 업체와 공유할 필요가 있는 경우에는 최소한의 범위 내에서 제3자에게 정보를 제공할 수 있으며 이 때는 제공 받는 자, 제공목적, 제공정보 항목, 이용 및 보유기간 등을 회원에게 고지하여 동의를 구합니다. 하지만 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우는 예외로 합니다.  이용자는 본 조에 따른 개인정보의 제공에 대한 동의를 거부할 수 있으나, 이를 거부할 경우에는 로그인이 필요한 일부 서비스 이용에 어려움이 있을 수 있습니다.

3. 개인정보의 보유 및 이용기간

“회사”는 기본적으로 이용자가 서비스를 제공하는 기간에 한하여 이용자의 개인정보를 보유 및 이용합니다. 회원탈퇴를 요청하거나 개인정보의 수집 및 이용에 대한 동의를 철회하는 경우, 수집/이용목적을 달성하거나 보유/이용기간이 종료한 경우, 사업폐지 등의 사유발생시 당해 개인정보를 지체 없이 파기합니다. 단, 서비스의 부정한 이용으로 인한 분쟁을 방지하기 위한 내부방침 또는 관계 법령의 규정에 따라 필요한 경우에 일정 기간 보유합니다. 보관하는 개인정보 및 해당 법령은 아래와 같습니다.

아이디(이메일), 비밀번호, 이동전화번호, 차량번호, 차종
회원가입 남용 등 서비스 부정이용 방지를 위한 회사 내부정책
보존기간 : 회원 탈퇴 후 1년

로그기록, IP 등
근거법령 : 통신비밀보호법
보존기간 : 3개월

세법이 규정하는 모든 거래에 관한 장부 및 증빙서류
근거법령: 국세기본법
보존 기간: 5년

표시/광고에 관한 기록
근거법령 : 전자상거래 등에서의 소비자 보호에 관한 법률
보존기간 : 6개월

계약 또는 청약철회에 관한 기록
근거법령 : 전자상거래 등에서의 소비자 보호에 관한 법률
보존기간 : 5년

대금결제 및 재화 등의 공급에 관한 기록
근거법령 : 전자상거래 등에서의 소비자 보호에 관한 법률
보존기간 : 5년

소비자의 불만 또는 분쟁처리에 관한 기록
근거법령 : 전자상거래 등에서의 소비자 보호에 관한 법률
보존기간 : 3년

기타 이용자의 개별동의가 있는 경우, 개별 동의에 따른 기간만큼 보존 합니다.

4. 개인정보 파기절차 및 방법

“회사”는 개인정보의 수집 및 이용목적이 달성되고, 보유 및 이용기간에 명시한 기간이 경과한 경우, 개인정보를 지체 없이 파기합니다. 회사의 개인정보 파기절차 및 방법은 다음과 같습니다.
이용자가 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조)일정 기간 저장된 후 파기됩니다. 동 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다.
종이에 출력된 개인정보 및 접수된 서류는 분쇄하거나 소각을 통하여, 전자적 파일 형태로 저장된 개인정보는 복구할 수 없는 기술적 방법을 사용하여 삭제합니다.

5. 개인정보의 취급위탁

회사는 서비스의 원활한 제공을 위해 필요한 때에는 동의 받은 이용목적 내에서 개인정보의 취급을 일부 위탁하고 있습니다. 그리고 개인정보 취급위탁을 받는자(이하 ‘수탁자’), 취급위탁을 하는 업무내용(이하 ‘업무내용’)을 이용자에게 고지하고 동의를 받습니다. 수탁자 및 업무내용은 아래와 같습니다.

a. 결제 관련
수탁자 : NICE페이먼츠 주식회사, ㈜카카오페이
업무내용 : 신용카드, 휴대폰, 카카오페이 등을 통한 결제처리

b. 고객응대 관련
수탁자 : (주)카카오, ㈜이노포스트
업무내용 : SMS, 카카오톡 발송 및 수신

회사는 개인정보 취급 위탁을 하는 업체 이외에 추가적인 서비스 제공으로 인한 개인정보 취급위탁이 있는 경우 및 업무내용에 변경이 있는 경우, 해당 서비스 화면에 수탁자 및 업무내용에 관한 사항을 웹사이트 또는 어플리케이션 내 “공지사항” 또는 개별 연락을 통해 미리 고지하고 동의를 획득하겠습니다.

6. 이용자 및 법정대리인의 개인정보에 대한 권리와 그 행사방법

만 14세 미만 아동의 개인정보는 수집하지 않습니다. 다만, 법정대리인의 요구가 있는 경우 법령 상의 권리를 보장합니다. (아동의 개인정보에 대한 열람, 정정·삭제, 개인정보처리정지요구권)

7. 개인정보 자동 수집 장치의 설치/운영 및 거부에 관한 사항

“회사”는 “회사”의 `사이트`(parkingfriends.net) 방문자에게 적정한 서비스를 제공하기 위해서 이용자들의 정보를 저장하고 수시로 불러오는 `쿠키(cookie)`를 사용합니다. 쿠키는 웹사이트를 운영하는데 이용되는 서버(HTTP)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터 내 하드디스크에 저장되기도 합니다. “회사”는 이용자(`사이트` 접속자)들이 방문한 파킹프렌즈의 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 이용자 규모 등을 파악하여 이용자에게 최적화된 정보 제공을 위하여 사용합니다.
이용자는 쿠키 설정에 대한 선택권을 가지고 있습니다. 따라서 이용자는 웹브라우저의 옵션을 설정함으로써, 쿠키가 저장될 때마다 확인하거나 모든 쿠키의 허용 또는 모든 쿠키의 저장을 거부할 수도 있습니다. 다만 쿠키의 저장을 거부할 경우에는 로그인이 필요한 일부 서비스는 이용에 어려움이 있을 수 있습니다.
※쿠키 설치 허용 여부 설정방법(인터넷 익스플로어의 경우) : 웹 브라우저 상단의 도구 &gt; 인터넷 옵션 &gt; 개인정보

8. 개인정보의 기술적/관리적 보호대책

&quot;회사&quot;는 이용자들의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적/관리적 대책을 강구 하고 있습니다.

기술적 보호대책
휴대폰번호와 비밀번호는 암호화되어 저장 및 관리되고 있어 본인만이 알고 있으며, 개인정보의 확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다. 이용자의 개인정보를 암호화된 통신구간을 이용하여 전송하고, 비밀번호 등 중요정보는 암호화하여 보관하고 있습니다.
&quot;회사&quot;는 해킹이나 컴퓨터 바이러스 등에 의해 회원의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다. 개인정보의 훼손에 대비해서 자료를 수시로 백업하고 있고, 최신 백신프로그램을 이용하여 이용자들의 개인정보나 자료가 누출되거나 손상되지 않도록 방지하고 있습니다.
“회사”는 개인정보를 취급하는 직원을 최소화 하며, 업무용 PC에서는 외부 인터넷 서비스를 사용할 수 없도록 차단 하여 개인정보 유출에 대한 위험을 줄이고 있습니다. 또한 개인정보를 보관하는 데이터베이스 시스템과 개인정보를 처리하는 시스템에 대한 비밀번호의 생성과 변경, 그리고 접근할 수 있는 권한에 대한 체계적인 기준을 마련하고 지속적인 감사를 실시하고 있습니다.

관리적 보호대책
&quot;회사&quot;는 개인정보관련 취급 직원을 담당자에 한정시키고 이를 위한 별도의 비밀번호를 부여하고, 정기적으로 갱신하고 있습니다.
&quot;회사&quot;는 주기적으로 담당자들을 교육하고 있으며, 이용자의 개인정보 취급•관리의 보안을 강조하고 있습니다.
&quot;회사&quot;는 사내 개인정보보호 관련부서 등을 통해서 회사의 개인정보취급방침 이행사항 및 담당자의 준수여부를 확인하여 문제가 발견될 경우 즉시 수정하고 바로 잡을 수 있도록 노력하고 있습니다.

9. 기타 이용자의 준수사항

이용자는 자신의 개인정보를 보호할 의무가 있으며, &quot;회사&quot;의 귀책사유 없이 이용자 본인의 부주의나 브라우져 취약점, 관계법령에 의한 보안조치로 차단할 수 없는 방법이나 기술을 사용한 해킹 등 &quot;회사&quot;가 상당한 주의에도 불구하고 통제할 수 없는 인터넷상의 문제 등으로 개인정보가 유출되어 발생한 문제에 대해 &quot;회사&quot;는 일체의 책임을 지지 않습니다.
이용자는 자신의 개인정보를 최신의 상태로 유지해야 하며, 이용자의 부정확한 정보 입력으로 발생하는 문제의 책임은 이용자 자신에게 있습니다.
타인의 개인정보를 도용하여 사이트 이용 시 회원자격 상실과 함께 주민등록법에 의거하여 처벌될 수 있습니다.
이용자는 아이디, 비밀번호 등에 대해 보안을 유지할 책임이 있으며 제3자에게 이를 양도하거나 대여할 수 없습니다.
이용자는 「정보 통신망 이용촉진 및 정보보호 등에 관한 법률」, 「개인정보보호법」, 「주민등록법」 등 기타 개인정보에 관한 법률을 준수하여야 합니다.


10. 개인정보취급방침의 적용범위

&quot;회사&quot;는 다른 웹사이트에 대한 링크를 제공할 수 있습니다. 이 경우 링크된 웹사이트들이 개인정보를 수집하는 행위에 대해서는 본 개인정보 취급방침이 적용되지 않습니다.

11. 개인정보 관리책임자 및 담당자의 연락처
이용자는 “회사”의 서비스를 이용하는 과정에서 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고할 수 있습니다. &quot;회사&quot;는 이용자들의 신고사항에 대해 신속하게 답변을 드릴 것입니다.

개인정보 관리책임자
이름 : 고동석
직책 : 팀장
전화 : 02) 3663-6161
메일 : kds6187@misconct.com

개인정보 보호 담당부서
부서명 : 마케팅팀
이름 : 고동석
직책 : 팀장
전화 : 02) 3663-6161
메일 : kds6187@misconct.com


기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.

개인정보침해신고센터 (http://privacy.kisa.or.kr/국번없이 118)
정보보호마크인증위원회(www.eprivacy.or.kr/02-580-0533~4)
대검찰청 사이버범죄수사단 (cybercid@po.go.kr/02-3480-3571)
경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)

12. 개인정보 취급(처리)방침의 변경

&quot;회사&quot;는 개인정보 취급방침의 변경(내용 추가, 삭제 및 수정)이 있을 경우 7일전 웹사이트 또는 어플리케이션 내 공지사항을 통해 고지하고 있습니다. 또한 변경된 내용을 고객이 쉽게 확인할 수 있도록 변경 전∙후를 비교하여 공개하고 있습니다.

13. 고지의 의무

현 개인정보 취급방침의 내용 추가, 삭제 및 수정 등의 변경이 있을 시에는 시행일의 7일 전부터 홈페이지의 공지사항을 통하여 고지할 것입니다.
최초 공고 일자 : 2018년 3월 1일
최종 변경 및 시행 일자 : 2018년 3월 1일
</string>
		</dict>
		<dict>
			<key>title</key>
			<string>위치기반 서비스 이용약관</string>
			<key>contents</key>
			<string>파킹프렌즈(Parking Friends) 위치기반서비스 이용약관


제 1 조 (목적)
 본 약관은 ㈜미래엔씨티의 실시간주차정보제공 및 예약주차서비스 ‘파킹프렌즈’ 이용을 위한 이용약관에 동의한 자(이하 “회원”이라함)를 말합니다. 기본 이용약관은 회사의 홈페이지(www.misconct.com 또는 www.parkingfriends.net)와 애플리케이션 등 전자적 영업장에 공지되어 있으며, ㈜미래엔씨티(이하 &quot;회사&quot;라 함)가 제공하는 실시간주차장정보제공과 예약서비스인 ‘파킹프렌즈’의 위치기반서비스(이하 “서비스”라고 함)를 이용함에 있어 회사와 회원의 권리•의무 및 책임사항을 규정함을 목적으로 합니다.

제 2 조 (이용약관의 효력 및 변경)
①개인위치정보주체인 “회원”이 &quot;서비스&quot;를 신청한 후 본 약관에 동의하고 &quot;회사&quot;가 이를 승낙하여 소정의 절차에 따라 “회원”을 &quot;서비스&quot;의 이용자로 등록함으로써, 본 약관은 효력을 발생합니다.
②&quot;회원&quot;이 온라인에서 본 약관의 &quot;동의하기&quot; 버튼을 클릭하였을 경우 본 약관의 내용을 모두 읽고 이를 충분히 이해하였으며, 그 적용에 동의한 것으로 봅니다.
③&quot;회사&quot;는 위치정보의 보호 및 이용 등에 관한 법률, 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제에 관한 법률 등 관련법령을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.
④&quot;회사&quot;가 본 약관을 개정할 경우에는 기존약관과 개정약관 및 개정약관의 적용일자와 개정사유를 명시하여 현행약관과 함께 그 적용일자 10일 전부터 적용일 이후 상당한 기간 동안 공지만을 하고, 개정 내용이 &quot;회원&quot;에게 불리한 경우에는 그 적용일자 30일 전부터 적용일 이후 상당한 기간 동안 각각 이를 &quot;서비스&quot; 홈페이지에 게시하거나 &quot;회원&quot;에게 전자적 형태(전자우편, SMS 등)로 약관 개정 사실을 발송하여 고지합니다.
⑤&quot;회사&quot;가 전항에 따라 &quot;회원&quot;에게 공지∙고지한 개정약관 시행일 이후 7일이 경과하기까지(시행일을 포함함) “회원”이 &quot;회사&quot;에게 &quot;회사&quot;가 정한 방법으로 거부의사를 표시하지 아니하면, “회원”은 변경된 이용약관을 승인한 것으로 봅니다. &quot;회원&quot;이 개정약관에 동의하지 않을 경우 &quot;회원&quot;은 본 위치기반서비스 이용계약을 &quot;회사&quot;가 정한 방법에 의한 통지로 해지할 수 있습니다.
⑥“회원”은 본 약관에 동의하지 아니하거나 변경에 동의를 거부하는 경우 위치기반서비스 &apos;파킹프렌즈&apos;를 이용할 수 없습니다.

제 3 조 (관계법령의 적용)
 본 약관은 신의성실의 원칙에 따라 공정하게 적용하며, 본 약관에 명시되지 아니한 사항에 대하여는 관계법령 또는 상관례에 따릅니다.

제 4 조 (&quot;서비스&quot;의 내용)
① &quot;회사&quot;가 제공하는 &quot;서비스&quot;는 아래와 같습니다.
&quot;서비스&quot; 명: 파킹프렌즈
&quot;서비스&quot; 내용 : 현재 위치를 활용한 실시간주차장정보 검색 및 제공과 주차요금예약서비스 제공으로 이용자가 정보 검색을 요청할 시 개인위치정보주체의 현 위치를 이용한 검색결과 및 주변 결과를 제시하고, 이용자의 신청에 따른 정보를 제공합니다.
②&quot;회사&quot;는 최적화된 “서비스”를 제공하고, 신상품이나 이벤트 정보안내, 설문조사 등 &quot;회원&quot; 지향적인 마케팅을 수행하기 위해 이용계약 체결 시 수집한 &quot;회원&quot;의 개인위치정보 및 “서비스” 이용정보를 이용할 수 있습니다. 단, “회사”는 &quot;회원&quot;이 “회사”에 대하여 표시한 동의 범위를 초과하여 이용하지 아니합니다.  &quot;회원&quot;은 언제든지 &quot;회사&quot;에게 동의를 철회하거나 거절할 수 있습니다.

제 5 조 (서비스 이용요금)
①&quot;회사&quot;가 제공하는 서비스는 기본적으로 무료입니다. 단, 별도의 유료 서비스의 경우 해당 서비스에 명시된 요금을 지불하여야 사용 가능합니다.
②&quot;회사&quot;는 유료 서비스 이용요금을 회사와 계약한 전자지불업체에서 정한 방법에 의하거나 회사가 정한 청구서에 합산하여 청구할 수 있습니다.
③유료서비스 이용을 통하여 결제된 대금에 대한 취소 및 환불은 회사의 결제 이용약관 등 관계법에 따릅니다.
④&quot;회원&quot;의 개인정보도용 및 결제사기로 인한 환불요청 또는 결제자의 개인정보 요구는 법률이 정한 경우 외에는 거절될 수 있습니다.
⑤무선 서비스 이용 시 발생하는 데이터 통신료는 별도이며 가입한 각 이동통신사의 정책에 따릅니다.
⑥MMS 등으로 게시물을 등록할 경우 발생하는 요금은 이동통신사의 정책에 따릅니다.

제 6 조 (“회원”의 의무)
① &quot;회원&quot;은 “서비스” 이용을 위해 필요한 제반 정보를 제공, 등록할 경우 현재의 사실과 일치하는 완전한 정보를 제공, 등록하여야 하며, 변경사항이 발생할 경우 즉시 갱신하여야 합니다.
② &quot;회원&quot;은 단말기가 정상 동작을 유지하도록 관리하여야 하며, 단말기의 정상 동작이 유지되지 않아 서비스 제공에 지장이 있을 때에는 해당 단말기의 보수, 교환 등의 처리를 신속히 행하여 원활한 서비스가 이루어지도록 하고, 기타 “회사”의 업무 혹은 타인의 “서비스”이용을 방해하는 행위를 하여서는 아니 됩니다.
③ 무선 &quot;서비스&quot; 이용 시 발생하는 데이터 통신료 등 일체의 통신료는 별도이며 가입한 각 이동통신사의 정책에 따릅니다.
④ &quot;회원&quot;은 “서비스” 이용시 본 약관 외에도 기본 이용약관을 준수하여야 하며, 기본 이용약관에서 규정한 부정이용행위 또는 “회원”의 의무에 반하는 행위를 하여서는 아니 됩니다.
⑤ &quot;회원&quot;은 &quot;회원&quot;의 서비스 가입에 따른 본 약관상의 지위 또는 권리, 의무의 전부 또는 일부를 제3자에게 양도, 위임하거나 담보제공 등의 목적으로 처분할 수 없습니다.

제 7 조 (&quot;서비스&quot; 내용변경 통지 등)
①&quot;회사&quot;가 &quot;서비스&quot; 내용을 변경하거나 종료하는 경우 &quot;회사&quot;는 &quot;회원&quot;의 등록된 전자우편 주소로 이메일을 통하여 &quot;서비스&quot; 내용의 변경 사항 또는 종료를 통지할 수 있습니다.
②①항의 경우 불특정 다수인을 상대로 통지를 함에 있어서는 웹사이트 등 기타 &quot;회사&quot;의 공지사항을 통하여 &quot;회원&quot;들에게 통지할 수 있습니다.

제 8 조 (&quot;서비스&quot;이용의 제한 및 중지)
①&quot;회사&quot;는 아래 각 호의 1에 해당하는 사유가 발생한 경우에는 &quot;회원&quot;의 &quot;서비스&quot; 이용을 제한하거나 중지시킬 수 있습니다.
1. &quot;회원&quot;이 &quot;회사&quot; &quot;서비스&quot;의 운영을 고의 또는 중과실로 방해하는 경우
2. &quot;서비스&quot;용 설비 점검, 보수 또는 공사로 인하여 부득이한 경우
3. 전기통신사업법에 규정된 기간통신사업자가 전기통신 &quot;서비스&quot;를 중지했을 경우
4. 국가비상사태, &quot;서비스&quot; 설비의 장애 또는 &quot;서비스&quot; 이용의 폭주 등으로 &quot;서비스&quot; 이용에 지장이 있는 때
5. 기타 중대한 사유로 인하여 &quot;회사&quot;가 &quot;서비스&quot; 제공을 지속하는 것이 부적당하다고 인정하는 경우
②&quot;회사&quot;는 전항의 규정에 의하여 &quot;서비스&quot;의 이용을 제한하거나 중지한 때에는 그 사유 및 제한기간 등을 &quot;회원&quot;에게 고지 또는 공지하여야 합니다.

제 9 조 (개인위치정보의 이용 또는 제공)
①&quot;회사&quot;는 개인위치정보를 이용하여 서비스를 제공하고자 하는 경우에는 미리 이용약관에 명시한 후 개인위치정보주체의 동의를 얻어야 합니다.
② &quot;회사&quot;는 &quot;회원&quot;이 제공한 개인위치정보를 당해 &quot;회원&quot;의 동의 없이 서비스 제공 이외의 목적으로 이용하지 아니합니다.
③&quot;회사&quot;는 타사업자 또는 이용 &quot;회원&quot;과의 주차이용 요금정산 및 민원처리를 위해 위치정보 이용•제공․사실 확인자료를 자동 기록•보존하며, 해당 자료는 1년간 보관합니다.
④ 회사는 개인위치정보를 회원이 지정하는 제3자에게 제공하는 경우에는 개인위치정보를 수집한 당해 통신 단말장치로 매회 회원에게 제공받는 자, 제공일시 및 제공목적을 즉시 통보합니다. 단, 아래 각 호의 1에 해당하는 경우에는 회원이 미리 특정하여 지정한 통신 단말장치 또는 전자우편주소로 통보합니다.
   1. 개인위치정보를 수집한 당해 통신단말장치가 문자, 음성 또는 영상의 수신기능을 갖추지 아니한 경우
   2. 회원이 온라인 게시 등의 방법으로 통보할 것을 미리 요청한 경우

제 10 조 (개인위치정보주체의 권리)
①&quot;회원&quot;은 &quot;회사&quot;에 대하여 언제든지 개인위치정보를 이용한 위치기반서비스 제공 및 개인위치정보의 제3자 제공에 대한 동의의 전부 또는 일부를 철회할 수 있습니다. 이 경우 &quot;회사&quot;는 법령상 보관하여야 할 의무가 있는 자료, “회원”이 사전 동의한 자료를 제외하고 기수집한 개인위치정보 및 위치정보 이용, 제공사실 확인자료(동의의 일부를 철회하는 경우에는 철회하는 부분의 개인위치정보 및 위치정보 이용제공사실 확인자료에 한합니다)를 모두 파기합니다.
②&quot;회원&quot;은 &quot;회사&quot;에 대하여 언제든지 개인위치정보의 수집, 이용 또는 제공의 일시적인 중지를 요구할 수 있으며, &quot;회사&quot;는 이를 위한 기술적 수단을 갖추고 있습니다.
③&quot;회원&quot;은 &quot;회사&quot;에 대하여 “회사”가 정한 절차(통상의 사회관념상 “회원”에게 부당하지 않은 합리적인 수준의 시간적, 장소적 제한) 아래 각 호의 자료에 대한 열람 또는 고지를 요구할 수 있고, 당해 자료에 오류가 있는 경우에는 그 정정을 요구할 수 있습니다. 이 경우 &quot;회사&quot;는 정당한 사유 없이 &quot;회원&quot;의 요구를 거절할 수 없습니다.
1. 본인에 대한 위치정보 수집, 이용, 제공사실 확인자료
2. 본인의 개인위치정보가 위치정보의 보호 및 이용 등에 관한 법률 또는 다른 법률 규정에 의하여 제3자에게 제공된 이유 및 내용
④&quot;회원&quot;은 본 조의 권리행사를 위해 &quot;회사&quot;에게 소정의 절차를 통해 요구할 수 있습니다.

제 11 조 (법정대리인의 권리)
①&quot;회사&quot;는 14세 미만의 &quot;회원&quot;에 대해서는 개인위치정보를 이용한 위치기반&quot;서비스&quot; 제공 및 개인위치정보의 제3자 제공에 대한 동의를 당해 &quot;회원&quot;과 당해 &quot;회원&quot;의 법정대리인으로부터 동의를 받습니다. 이 경우 법정대리인은 제7조에 의한 &quot;회원&quot;의 권리를 모두 가집니다.
②&quot;회사&quot;는 14세 미만의 아동의 개인위치정보 또는 위치정보 이용․제공사실 확인 자료를 이용약관에 명시 또는 고지한 범위를 넘어 이용하거나 제3자에게 제공하고자 하는 경우에는 14세미만의 아동과 그 법정대리인의 동의를 받아야 합니다. 단, 아래의 경우는 제외합니다.
1. 위치정보 및 위치기반&quot;서비스&quot; 제공에 따른 요금정산을 위하여 위치정보 이용, 제공사실 확인 자료가 필요한 경우
2. 통계작성, 학술연구 또는 시장조사를 위하여 특정 개인을 알아볼 수 없는 형태로 가공하여 제공하는 경우

제 12 조 (8세 이하의 아동 등의 보호의무자의 권리)
①&quot;회사&quot;는 아래의 경우에 해당하는 자(이하 “8세 이하의 아동”등이라 한다)의 보호의무자가 8세 이하의 아동 등의 생명 또는 신체보호를 위하여 개인위치정보의 이용 또는 제공에 동의하는 경우에는 본인의 동의가 있는 것으로 봅니다.
1. 8세 이하의 아동
2. 금치산자
3. 장애인복지법제2조제2항제2호의 규정에 의한 정신적 장애를 가진 자로서 장애인고용촉진및직업재활법 제2조제2호의 규정에 의한 중증장애인에 해당하는 자(장애인복지법 제29조의 규정에 의하여 장애인등록을 한 자에 한한다)
②8세 이하의 아동 등의 생명 또는 신체의 보호를 위하여 개인위치정보의 이용 또는 제공에 동의를 하고자 하는 보호의무자는 서면동의서에 보호의무자임을 증명하는 서면을 첨부하여 &quot;회사&quot;에 제출하여야 합니다.
③보호의무자는 8세 이하의 아동 등의 개인위치정보 이용 또는 제공에 동의하는 경우 개인위치정보주체 권리의 전부를 행사할 수 있습니다.

제 13 조 (위치정보관리책임자의 지정)
①&quot;회사&quot;는 위치정보를 적절히 관리․보호하고 개인위치정보주체의 불만을 원활히 처리할 수 있도록 실질적인 책임을 질 수 있는 지위에 있는 자를 위치정보관리책임자로 지정해 운영합니다.
②위치정보관리책임자의 구체적인 사항은 본 약관의 부칙에 따릅니다.

제 14 조 (손해배상)
①&quot;회사&quot;가 고의, 과실로써 위치정보의 보호 및 이용 등에 관한 법률 제15조 내지 제26조의 규정을 위반한 행위로 &quot;회원&quot;에게 손해가 발생한 경우 &quot;회원&quot;은 &quot;회사&quot;에 대하여 손해배상 청구를 할 수 있습니다.
②&quot;회원&quot;이 본 약관의 규정을 위반하여 &quot;회사&quot;에 손해가 발생한 경우 &quot;회사&quot;는 &quot;회원&quot;에 대하여 손해배상을 청구할 수 있습니다. 이 경우 &quot;회원&quot;은 고의, 과실이 없음을 입증하지 못하는 경우 책임을 면할 수 없습니다.

제 15 조 (면책)
①&quot;회사&quot;는 다음 각 호의 경우로 &quot;서비스&quot;를 제공할 수 없는 경우 이로 인하여 &quot;회원&quot;에게 발생한 손해에 대해서는 책임을 부담하지 않습니다.

1. 천재지변 또는 이에 준하는 불가항력의 상태가 있는 경우
2. &quot;서비스&quot; 제공을 위하여 &quot;회사&quot;와 &quot;서비스&quot; 제휴계약을 체결한 제3자의 고의적인 &quot;서비스&quot; 방해가 있는 경우
3. &quot;회원&quot;의 귀책사유로 &quot;서비스&quot; 이용에 장애가 있는 경우
4. 서비스용 설비 점검, 보수 또는 공사로 인하여 부득이한 경우
5. 전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우
6. 국가비상사태, 서비스 설비의 장애 또는 서비스 이용의 폭주, 서비스 제휴업체와의 계약 종료 등과 같은 &quot;회사&quot;의 기술상운영상 제반 사정 또는 법률상의 장애 등으로 “서비스” 이용제공에 지장이 있는 때
7. 기타 중대한 사유로 인하여 회사가 서비스 제공을 지속하는 것이 부적당하다고 인정하는 경우 또는 &quot;회사&quot;의 고의∙과실이 없는 사유로 인한 경우
②&quot;회사&quot;는 &quot;서비스&quot; 및 &quot;서비스&quot;에 게재된 정보, 자료, 사실의 신뢰도, 정확성 등에 대해서는 보증을 하지 않으며 이로 인해 발생한 &quot;회원&quot;의 손해에 대하여는 책임을 부담하지 아니합니다. 또한, &quot;회사&quot;는 &quot;회원&quot;이 서비스를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않으며, 그 밖에 서비스를 통하여 얻은 자료로 인한 손해 등에 대하여도 책임을 지지 않습니다.

제 16 조 (규정의 준용)
①본 약관은 대한민국법령에 의하여 규정되고 이행됩니다.
②본 약관에 규정되지 않은 사항에 대해서는 관련법령 및 상관습에 의합니다.

제 17 조 (분쟁의 조정 및 기타)
①&quot;회사&quot;는 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우에는 전기통신기본법 제40조의2의 규정에 의한 방송통신위원회에 재정을 신청할 수 있습니다.
②&quot;회사&quot; 또는 &quot;회원&quot;은 위치정보와 관련된 분쟁에 대해 당사자간 협의가 이루어지지 아니하거나 협의를 할 수 없는 경우 서울중앙지방법원을 제1심으로 하여 소를 제기합니다.

제 18 조 (&quot;회사&quot;의 연락처) &quot;회사&quot;의 상호 및 주소 등은 다음과 같습니다.
1. 상 호 : 주식회사 미래엔씨티
2. 대 표 자 : 최천우
3. 주 소 : 서울특별시 금천구 서부샛길 606, B동1703-1(가산동, 대성디폴리스)
4. 대표전화 : 02-3663-6161
부  칙

제1조 (시행일) 이 약관은 2018년   3월   1일부터 시행한다.
제2조 위치정보관리책임자는 2018년 3월을 기준으로 다음과 같이 지정합니다.
1. 소 속 : (주)미래엔씨티
2. 성 명 : 최천우 대표
3. 연락처 : 02-3663-6161</string>
		</dict>
		<dict>
			<key>title</key>
			<string>사업자 정보</string>
			<key>contents</key>
			<string>(주)미래엔씨티
사업자등록번호: 119-86-70032
대표자: 최천우

서울특별시 금천구 서부샛길 606, B동 1703-1 (가산동, 대성디폴리스)
02-3663-6161
smart2parking@gmail.com</string>
		</dict>
	</array>
</dict>
</plist>
